h1 Welcome#index
p Find me in app/views/welcome/index.html.slim

p Deploy
p Deploy

p Deploy to gitlab
p Deploy to gitlab
p Deploy to gitlab
p Deploy to gitlab
p Deploy to gitlab
p Deploy to gitlab
p Deploy to gitlab
p Deploy to gitlab
p Deploy to gitlab
p Deploy to gitlab
p Deploy to gitlab
p Deploy to gitlab